@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 20px;
	font-family: sans-serif;
	color: #333;
    text-align: center;
    background-color: #f8f6f0;
}

/*--------------------page layout-----------------------*/
*{
    overflow: hidden;
}
.page{
    background-color: grey;
    width: 100%;
    height: 100%;
    display: block;
}
.info{
    position: absolute;
    background-color: grey;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 600px;
}
.game{
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
}

.contianer{
    width: 100%;
    height: 80px;
    display: block;
    background-color: darkslategrey;
}
.inner_header{
    width: 80%;
    height: 100%;
    display: block; 
    margin: 0 auto;
}
.title{
    height: 100%;
    display: table;
    float: left;
}
.title h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 800;
}

.nav{ 
    float: right;
    height: 100%;
}
.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color: darkgoldenrod
}
.nav a:last-child{
    padding-right: 0;
}
.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
}
/*--------------------quiz-----------------------*/
input {
	margin-bottom: 20px;
	display: block;
}
#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}
#mc {
    align-content: center;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}
#button {
	background: darkslategrey;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}
#button:hover {
	background: lightblue;
	color: black;
	cursor: pointer;
}
